.App {
  text-align: center;
  margin-top: 50px;
}

.info-text {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 10px;
}

.required-field {
  border: 2px solid red;
}

input[type="text"] {
  padding: 10px;
  margin: 5px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.results {
  margin-top: 20px;
}

.result {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.local-names {
  margin-top: 10px;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.columns li {
  flex: 1 1 50%; /* Adjust to 50% width for two columns, change to 33.33% for three columns, etc. */
  list-style-type: none;
}

.error {
  color: red;
  font-weight: bold;
}